Java/IIS_04_JAXB/xml-resources/jaxb/JAXB/JAXB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FreeNewsItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="FreeNews">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Title" type="xs:string" />
              <xs:element name="Author" type="xs:string" />
              <xs:element name="PublishedDate" type="xs:string" />
              <xs:element name="PublishedDatePrecision" type="xs:string" />
              <xs:element name="Link" type="xs:string" />
              <xs:element name="CleanUrl" type="xs:string" />
              <xs:element name="Summary" type="xs:string" />
              <xs:element name="Rights" type="xs:string" />
              <xs:element name="Rank" type="xs:unsignedByte" />
              <xs:element name="Topic" type="xs:string" />
              <xs:element name="Country" type="xs:string" />
              <xs:element name="Language" type="xs:string" />
              <xs:element name="Authors" type="xs:string" />
              <xs:element name="Media" type="xs:string" />
              <xs:element name="IsOpinion" type="xs:boolean" />
              <xs:element name="TwitterAccount" type="xs:string" />
              <xs:element name="Score" type="xs:decimal" />
              <xs:element name="Id" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>